# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

__history/GlobalParameter.cpp.~1~
Debug/*.exe
Debug/*.*
*.bak
*.~2~
*.~1~
*.~1~
*.~10~
*.~11~
*.~13~
*.~14~
*.~15~
*.~16~
*.~12~
*.~7~
*.~7~
*.~8~
*.~9~
*.~9~
*.~3~
*.~4~
*.~5~
*.~5~
*.~6~
*.~dsk
*.xlt
Debug/InitDataBase/InitData
*.dat
*.~18~
*.~19~
*.~20~
*.~21~
*.~22~
*.~23~
*.~59~
*.~60~
*.~61~
*.~62~
*.~63~
*.~64~
*.~65~
*.~66~
*.~67~
*.~68~
*.~17~
*.~24~
*.dat
*.dat
*.dat